<!-- Header Partial -->
<%- include("partials/_header.ejs", { title: "Home Page", pageStyle: "home",
pageStylePath: "main" }) %>

<!-- HTML page content -->
<div class="container">
  <!-- First Navbar Import -->
  <%- include("partials/_firstNavbar.ejs") %>

  <!-- Main Navbar Import -->
  <%- include("partials/_mainNavbar.ejs") %>

  <!-- Footer Partial -->
  <%- include("partials/_footer.ejs") %>

  <!-- Common Scripts Import -->
  <%- include("partials/_scripts.ejs", { scriptsPath: "main" }) %>
  <!-- Page Specific JavaScript -->
  <script src="../js/pages/mainPages/home.js"></script>
</div>
