<!-- Header Partial -->
<%- include("partials/_header.ejs", { title: "Team Page", pageStyle: "team",
pageStylePath: "main" }) %>

<!-- First Navbar Import -->
<%- include("partials/_firstNavbar.ejs") %>

<!-- Main Navbar Import -->
<%- include("partials/_mainNavbar.ejs") %>

<div class="container" id="container">
  <!-- Footer Partial -->
  <%- include("partials/_footer.ejs") %>

  <!-- Common Scripts Import -->
  <%- include("partials/_scripts.ejs", { scriptsPath: "main" }) %>
</div>
